---
import Layout from '../layouts/Layout.astro';

import ClickUpForm from '../components/ClickUpForm.svelte';

import AuthWrapper from '../components/auth-wrapper.svelte';
---

<Layout title="Welcome to Astro + Svelte">
	<main>
<h1>Create a New ClickUp Ticket</h1>


<AuthWrapper client:idle>
	<ClickUpForm client:idle />
</AuthWrapper>
	</main>

	
</Layout>
